@import url('https://fonts.googleapis.com/css?family=Cormorant+Upright:300,500,700');

body {
    font-family: 'Cormorant Upright', serif;
    background-color: #FFFAF0;
}

.drink img {
    width: 180px;
}

.drink p {
    line-height: 0.8em;
}

.drink {
    flex-basis: 40%;
}

.navbar img {
    height: 36px;
}

.nav-link {
    font-weight: 500;
    font-size: 20px;
}

.nav-link:hover, #login button:hover {
    text-decoration: none;
    font-weight: 700;
}

.clear-link {
    font-size: 24px;
    font-weight: 400;
    background-color: rgba(130, 130, 130, 0.7);
    color: white;
}

.clear-link:hover {
    text-decoration: none;
    background-color: rgba(230, 230, 230, 0.7);
    color: black;
}

#customer-panel {
    background-image: url('./resources/coffee.jpg');
}

#employee-panel {
    background-image: url('./resources/barista.jpg');
}

#customer-panel, #employee-panel {
    width: 100%;
    background-size: cover;
    background-position: right;
}

#landing-buttons {
    min-height: inherit;
}

#team img {
    height: 164px;
    width: 164px;
}